certifi
idna==3.7
cycler
kiwisolver>=1.3.1
matplotlib
numpy>=1.18.5
opencv-python-headless==4.10.0.84
Pillow>=7.1.2
# https://github.com/roboflow/roboflow-python/issues/390
# pi-heif 1.x requires Python 3.10+
pi-heif<2; python_version >= "3.10"
pillow-avif-plugin<2
python-dateutil
python-dotenv
requests
six
urllib3>=1.26.6
tqdm>=4.41.0
PyYAML>=5.3.1
requests_toolbelt
filetype
